
section {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.15s;
  z-index: 100000;
}
h1{
  font-size: 12.500vw;
  position: absolute;
  color: #D1D0D6;
  font-family: Forma r;
  letter-spacing: 0.02em;
}
.h1_h3{
  font-family: Forma r;
  font-weight: 400;
  font-size: 1.389vw;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 3.389vw;
  color: #D1D0D6;
  flex: none;
  z-index: 20;
  text-decoration: none;
}
.h1_h3-1{
  font-family: Forma r;
  font-weight: 400;
  font-size: 1.389vw;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 3.389vw;
  color: white;
  flex: none;
  z-index: 20;
  text-decoration: none;
}
body, html {
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
  position: relative;
}
.forma_after{
  display: none;
  width: 43vw;
  height:25vh;
  border-radius: 4vw;
  z-index: 15;
  background-color: black;
  color: white;
  position: fixed;
  padding-top: 40px;
  top: calc( 50% - 12vh);
  left: calc( 50% - 21.5vw);
}
.text{
  font-family: Forma r;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
.forma{
  display: none;
  width: 40vw;
  height:90vh;
  z-index: 15;
  background-color: #f2f2f7;
  border-radius: 1vw;
  position: fixed;
  top:4vh;
  left: calc( 50% - 21.5vw);
  z-index: 1000000000000000000;
  /* display: flex;
  flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column; */
}
.form-split {
    width: 1vw;
    position: relative;
    margin: 12px 2.5vw;
    display: flex;
    justify-content: space-between;
  }
  .form{
    font-family: Forma r;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 48px;
  text-align: center;
  margin-top: 40px;
  }

.big{
  font-family: Forma r;
 font-style: normal;
  font-weight: 500;
 font-size: 50px;
 line-height: 48px;
 text-align: center;
 margin-top: 40px;
}
input[type="text"], input[type="email"], input[type="tel"], .put{
  display: block;
    width: 480px;
    position: relative;
    margin: 10px auto;
    height: 52px;
    padding: 0 18px;
    font-family: Forma r;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    border-radius: 10vw;
}
input{
  outline: none;
  border: none;
}
.custom{
  border: none;
}


.put{
  display: inline-block;
  width: 230px;
  margin: 0;
}
.fo {
    display: block;
    width: 480px;
    position: relative;
    margin: 18px auto 12px auto;
}
label{
  font-family: Forma r;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-left: 18px;
}
.checkbox-list {
  width: 480px;
  position: relative;
  display: block;
  margin: 18px 2vw;
}
.custom{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom+label::before {
  content: '';
  color: white;
  background-color: white;
  display: inline-block;
  width: 1vw;
  height: 1vw;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #000000;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom:not(:disabled):not(:checked)+label:hover::before {
  background-color: #000000;
}
.custom:checked+label::before {
  background-color: #000000;
}

/* * {
  cursor: none;
} */
.button{
  font-size: 24px;
  width: 30vw;
  height: 3em;
  color: white;
  background-color: black;
  border-radius: 10vw;
  position: relative;
  top: 2vw;
  left: 5vw;
  z-index: 10;
  text-align: center;
  vertical-align:middle;
  display:table-cell;
  cursor: pointer;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 1.5vw;
  width: 97vw;
  height: 5vw;
  position: fixed;
  gap: 4vw;
   z-index: 100000000000000;
}
.menu_bt{
  display: none;
}
.breadcrumbs{
  display: flex;
  justify-content: space-between;
  align-items: center;
 width: 25.889vw;
 height: 3.611vw;
 gap: 0vw;
}
.breadcrumbs_book,.breadcrumbs_merch, .breadcrumbs_place, .breadcrumbs_events{
 align-items: center;
 padding: 0vw 2.014vw;
 left: 33.056vw;
 top: 1.736vw;
 background: #F2f2f7;
 border-radius: 3.403vw;
 opacity: 70%
}
.breadcrumbs_merch{
  background: #D1D0D6;
}
.breadcrumbs_merch h3{
  color: #FFFFFF;
}

.h3_p{
 font-family: Forma r;
 font-weight: 400;
 font-size: 1.389vw;
 text-align: center;
 letter-spacing: 0.02em;
 line-height: 1.389vw;
 color: #FFFFFF;
 flex: none;
 flex-grow: 0;
}
h3{
 font-family: Forma r;
 font-weight: 400;
 font-size: 1.389vw;
 text-align: center;
 letter-spacing: 0.02em;
 line-height: 1.389vw;
 color: #B2BCC8;
 flex: none;
 flex-grow: 0;
}
.logo_grey{
  width: 5.236vw;
  height: 4.236vw;
  left: 2.847vw;
}
.game_1, .game_2{
  width: 5.056vw;
}
.tishorts{
  color: #B2BCC8;
  z-index: -100;
  left: calc(50% - 49vw/2 - 24vw);
  bottom: 0vw;
  position: fixed;
  line-height: 0.5vw;
}
.label_1, .label_2, .label_3, .label_4, .label_5, .label_6{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0vw 2vw;
  gap: 0.7vw;
  position: absolute;
  width: 14.444vw;
  height: 3.611vw;
  background: rgba(178, 188, 200, 0.2);
  backdrop-filter: blur(10vw);
  border-radius: 3.403vw;
}
.label_1{
  left: 4.236vw;
  top: 19.861vw;
  transform: rotate(-5.99deg);
}
.label_2{
  left: 34.444vw;
  top: 14.583vw;
  transform: rotate(5.32deg);
}
.label_3{
  left: 12.444vw;
  top: 38.819vw;
  transform: rotate(-22.32deg);
}
.label_4{
  left: 18.444vw;
  top: 10.819vw;
  transform: rotate(-10.32deg);
}
.label_5{
  width: 7vw;
  left: 14.444vw;
  top: 29.819vw;
  transform: rotate(-5.32deg);
}
.label_6{
  width: 7vw;
  left: 21.444vw;
  top: 12.819vw;
  transform: rotate(-10.32deg);
}

.itemmerch_1{
  position: absolute;
  left: -1vw;
  top:0vw;
}

.itemmerch_2{
  position: absolute;
  left: 30vw;
  top:1vw;
  z-index: 2;
}
.itemmerch_3{
  position: absolute;
  left: 60vw;
  top:3vw;
}
.itemmerch_4{
  position: absolute;
  left: 90vw;
  top:5vw;
}
.itemmerch_5{
  position: absolute;
  left: 125vw;
  top:3vw;
  z-index: 10;
}
.itemmerch_6{
  position: absolute;
  left: 150vw;
  top:3vw;
}
.white_plashka,.white_plashka_1, .white_plashka_2,.white_plashka_4, .white_plashka_5,.white_plashka_3 {
  position: fixed;
  left: -36vw;
  width: 35.208vw;
  height: 100vh;
  background-color: white;
  border-radius: 0px 1.319vw 1.319vw 0px;
  z-index: 300;
}
.moveplashka{
  transform: translateX(36vw);
  transition: transform 1s ease-in-out;
}

.plashkaimg1,.plashkaimg2, .plashkaimg3, .plashkaimg4, .plashkaimg5, .plashkaimg6{
  position: relative;
  width: 33vw;
  bottom: 0vw;
  left: 1.3vw;
}
.plashkaimg4{
  width: 40vw;
}
.item1p{
  position: relative;
  font-family: Forma r;
  font-weight: 400;
  font-size: 3.389vw;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 3.167vw;
  color: black;
  padding: 0vw;
  bottom: 6vw;
  left: -1vw;
}

.item1h3{
  position: relative;
  width: 30vw;
  bottom: 8.5vw;
  left: 1.5vw;
}
.order{
  background-color: #B2BCC8;
  width: 25vw;
  height: 4vw;
  border-radius: 3.319vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 7vw;
  left: 3.5vw;
}
